html, body {
    --mainFontColor: #abc;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    background: #123;
    color: var(--mainFontColor);
    font-family: monospace;
}
html {
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}

figcaption {
    position: absolute;
    top: 4px;
    left: 0;
    width: var(--imageWidth);
    padding: 2px;
    font-weight: bolder;
    backdrop-filter: brightness(0.3);
}
figcaption::first-letter {
    text-transform: capitalize;
}

figure,
.catImage {
    position: relative;
}

.duppedImage {
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(8px);
    /* opacity: .8; */
}

.resultContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.stepResultSectionContainer {
    box-shadow: 0 2px 2px 0 #abca inset;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.stepResultListContainer {
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    display: grid;
    gap: 4px;
    padding: 0 8px;
}
.catCard {
    --cardShadowColor: #456;
    --cardColor: #4564;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 4px 1px inset var(--cardShadowColor);
    background: var(--cardColor);
    padding: 6px;
    gap: 2px;
}

.stepResultTitle {
    position: relative;
    font-size: 1.5em;
    backdrop-filter: hue-rotate(45deg);
    padding: 4px 8px;
}

.traitsContainer {
    display: flex;
    gap: 4px;
}
.quietTraitPill,
.annoyingTraitPill {
    border-radius: 8px;
    padding: 2px 4px;
}

.quietTraitPill {
    background: #3866;
    border: #386 solid 1px;
}
.annoyingTraitPill {
    background: #b246;
    border: #b24 solid 1px;
}

.noContent {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
}
.noContent span:first-child {
    order: -1;
}
.noContent::before {
    content: "";
    background-image: url(./noContent.png);
    background-size: cover;
    display: block;
    width: 128px;
    height: 102px;
}



ul:nth-of-type(odd)> .stepResultTitle::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 128px;
    background: #a2a;
    filter: blur(256px);
    transform: translate(-50%, -75%);
    animation: blurMotion 6s alternate infinite cubic-bezier(.5,0,0,1);
    opacity: .75;
}

@keyframes blurMotion {
    25% { transform: translate(-50%, -75%); }
    to { transform: translate(25%, 0); }
}
